In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from Bio import Align
from Bio.Seq import Seq
from Bio.Align import substitution_matrices
import sys
import os
import seaborn as sns
import math

In [7]:
#Import the processed reads/tables 
file_name = ['11_L1_All_Processed_Reads_rep1.csv','11_L1_All_Processed_Reads_rep2.csv',
            '11_L1_All_Processed_Reads_rep3.csv','11_LON_All_Processed_Reads_rep1.csv',
            '11_LON_All_Processed_Reads_rep2.csv','11_LON_All_Processed_Reads_rep3.csv']
#import all csv files and name
L1_1 = pd.read_csv(file_name[0])
L1_2 = pd.read_csv(file_name[1])
L1_3 = pd.read_csv(file_name[2])

LON_1 = pd.read_csv(file_name[3])
LON_2 = pd.read_csv(file_name[4])
LON_3 = pd.read_csv(file_name[5])

L1_1

,Unnamed: 0,Read 1 Direction,Read 2 Direction,Forward_read,Reverse_read,Reverse Read inserted sequence alignment score,Reverse read inserted sequence end position,Reverse read ribozyme sequence,Reverse Read ribozyme alignment normalized score,Split Site
0,0,Forward,Reverse,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1165.0,233,ACGGCTGTTGACCCCTT,5.0,135
1,1,Forward,Reverse,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1165.0,233,CCCGCAATTTGACGGTC,5.0,117
2,2,Reverse,Forward,ATACCACTTGTCACTACTCTGACCTAATGCTGCCGTTGACGAATCT...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1165.0,233,TTAGGTCAGAGTAGTG,5.0,8
3,3,Reverse,Forward,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1165.0,233,CTTTGCAAGGCCATCTC,5.0,179
4,4,Forward,Reverse,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1156.0,233,ACTAGCTACCAGGTGC,5.0,64
...,...,...,...,...,...,...,...,...,...,...
244349,311942,Reverse,Forward,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1138.0,233,ACTTGGTACTGAACGGC,5.0,147
244350,311943,Forward,Reverse,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1165.0,233,ACCCCTTTCCCGCAATT,5.0,125
244351,311944,Reverse,Forward,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1165.0,233,AAGGCCATCTCAAAGTT,5.0,173
244352,311945,Forward,Reverse,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1156.0,233,ACCGATGCAATCTATTG,5.0,89
244353,311946,Reverse,Forward,ATACCACTTGTCACTACTCTGACCTAAATAGCAATATTTACCTTTG...,ACGCCGCTTCAATAATATTGAAAAAGGAAGAGTAAAAAAAAGCCCG...,1156.0,233,AAGGCCATCTCAAAGTT,5.0,173

In [8]:
#isolate split site column
lr1 = L1_1['Split Site'].astype(float)
lr2 = L1_2['Split Site'].astype(float)
lr3 = L1_3['Split Site'].astype(float)

lonr1 = LON_1['Split Site'].astype(float)
lonr2 = LON_2['Split Site'].astype(float)
lonr3 = LON_3['Split Site'].astype(float)

In [11]:
range(len(dataset))

range(0, 6)

In [15]:
rep1a = lr1.value_counts().sort_index().reset_index()
rep1a = rep1a.rename(columns={'index': 'Split site', 'Split Site': 'Unsorted Raw R1'})
rep1a = rep1a.set_index('Split site')
rep1a.index.name = None

rep2a = lr2.value_counts().sort_index().reset_index()
rep2a = rep2a.rename(columns={'index': 'Split site', 'Split Site': 'Unsorted Raw R2'})
rep2a = rep2a.set_index('Split site')
rep2a.index.name = None

rep3a = lr3.value_counts().sort_index().reset_index()
rep3a = rep3a.rename(columns={'index': 'Split site', 'Split Site': 'Unsorted Raw R3'})
rep3a = rep3a.set_index('Split site')
rep3a.index.name = None

rep4a = lonr1.value_counts().sort_index().reset_index()
rep4a = rep4a.rename(columns={'index': 'Split site', 'Split Site': 'Sorted Raw R1'})
rep4a = rep4a.set_index('Split site')
rep4a.index.name = None

rep5a = lonr2.value_counts().sort_index().reset_index()
rep5a = rep5a.rename(columns={'index': 'Split site', 'Split Site': 'Sorted Raw R2'})
rep5a = rep5a.set_index('Split site')
rep5a.index.name = None

rep6a = lonr3.value_counts().sort_index().reset_index()
rep6a = rep6a.rename(columns={'index': 'Split site', 'Split Site': 'Sorted Raw R3'})
rep6a = rep6a.set_index('Split site')
rep6a.index.name = None

In [20]:
zeros = pd.DataFrame([0]*420, columns = ['ind'])

df_all = pd.concat([zeros, rep1a, rep2a, rep3a, rep4a, rep5a, rep6a], axis=1)
df_all = df_all.fillna(0)
df_all = df_all.drop(['ind'], axis=1) #Don't need the initialized column anymore
df_all.reset_index(inplace=True)#need to make the index into a column (indicates split site)
df_all = df_all.rename(columns={'index': 'Split_site'})
df_all.to_csv('reads.csv')
df_all

,Split_site,Unsorted Raw R1,Unsorted Raw R2,Unsorted Raw R3,Sorted Raw R1,Sorted Raw R2,Sorted Raw R3
0,0.0,4.0,3.0,2.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,3.0,5.0,0.0,0.0,0.0,0.0
3,3.0,4.0,9.0,1.0,0.0,0.0,0.0
4,4.0,104.0,189.0,150.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
415,415.0,21.0,19.0,27.0,40.0,21.0,54.0
416,416.0,0.0,2.0,0.0,0.0,0.0,0.0
417,417.0,2.0,5.0,1.0,0.0,0.0,0.0
418,418.0,1.0,1.0,2.0,0.0,0.0,0.0
419,419.0,0.0,0.0,0.0,0.0,0.0,0.0